.main-wrapper {
    background-image: url('/Fondo_funciones.jpg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-body {
    flex: 1;
    overflow-y: auto;
}
