VITE_API_BASE=http://localhost:8001/api
VITE_API_ACCESS_URL=http://localhost:8000/api/
VITE_API_CONTENT_URL=http://localhost:8001/api/
VITE_WS_CONTENT_URL=ws://localhost:8001
VITE_CONTENT_MEDIA_URL=http://localhost:8001
VITE_ACCESS_MEDIA_URL=http://localhost:8000
