DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,content-api
DJANGO_ALLOWED_ORIGINS=http://localhost:8080

DB_NAME=AlumniDB
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
PORT=8001

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=1

ACCESS_API_URL=http://access-api:8000/api/
ACCESS_API_BASE_URL=http://access-api:8000/
